.result-details
  .head
    div(ng-if='vm.selected.type == "user"')
      | Most popupar questions from 
      span.tagged {{vm.selected.name}}
    div(ng-if='vm.selected.type == "tag"')
      | Most popupar
      =' ' 
      span.tagged {{vm.selected.name}}
      =' '
      | questions
  .preloader-wrapper(ng-show='!vm.isLoaded')
    preloader
  table.table.table-hover.details(ng-show='vm.isLoaded')
    thead
      tr
        th(ng-if='vm.selected.type == "tag"') Author
        th Topic
        th Answers
    tbody
      tr(ng-repeat='question in vm.questions')
        td(ng-if='vm.selected.type == "tag"')
          a(href='' ng-click='vm.queryPopularQuestions("user", question.owner)') {{::question.owner.display_name}}
        td
          a(ui-sref='question({id: question.question_id})' title="{{::question.title}}") {{::question.title}}
          .badge.tag(ng-repeat='tag in question.tags' ng-click='vm.queryPopularQuestions("tag", tag)')
            | {{::tag}}
        td.text-center
          a(ui-sref='question({id: question.question_id})') {{::question.answer_count}}
