.results {
  margin: 10px;

  table {
    background: #fff;
    border-radius: 5px;
  }

  .tag {
    margin: 0 3px;
    font-size: 14px;
    cursor: pointer;
  }

  .tagged {
    color: green;
  }

  .head {
    min-height: 100px;
  }

  .query_results {
    .title {
      max-width: 350px;
    }
  }

  .details {
    .head {
      font-size: 24px;
    }
    .title {
      max-width: 200px;
    }
  }
}
