.comment
  span.score(title="Score") {{::vm.content.score}}
  span(ng-bind-html='::vm.trustAsHtml(vm.content.body)')
  =' - '
  a(ng-href='{{::vm.content.owner.link}}')
    span(ng-bind-html='::vm.trustAsHtml(vm.content.owner.display_name)')
