.row.post
  .col-md-1.score
    span(title="Score") {{::vm.post.score}}
    div.accepted(ng-if='::vm.post.is_accepted')
      | &#10004;
  .col-md-11
    div
      div(ng-bind-html='::vm.getTrusted(vm.post.body)')
      div.post-signature(ng-class="{'owner': vm.owner}")
        .user-info
          .action-time
            | Asked on: {{::(vm.toDate(vm.post.creation_date) | date)}}
          .gravatar
            img(ng-src='{{::vm.post.owner.profile_image}}')
          .user-details
            a(ng-href="{{::vm.post.owner.link}}") {{::vm.post.owner.display_name}}
    .comments
      comment(ng-repeat='comment in vm.post.comments' content='comment')
