.search-container.fx-bounce-left.fx-speed-300.fx-trigger.fx-easing-quad
  form.form-inline(ng-submit='vm.getResult()', align='center')
    .form-group
      input.form-control(type='text', ng-model='vm.query', placeholder='Enter your query here...')
    button.btn.btn-default(type='submit') Search
